@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 4.5rem;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
div {
  color: #fff;
}

.pop {
  @apply hover:scale-105 active:scale-95 transition-[scale]
}